@mixin banniere {
    background-image: url('https://raw.githubusercontent.com/HedyKatherine/Projet-gite/master/images/ban.jpeg');
    width: 100%;
<<<<<<< HEAD
    height: 20vh;
=======
    height: 10vh;
>>>>>>> olga
}
