<<<<<<< HEAD
@mixin banniere {
    background-image: url('https://raw.githubusercontent.com/HedyKatherine/Projet-gite/master/images/ban.jpeg');
    width: 100%;
<<<<<<< HEAD
    height: 20vh;
=======
    height: 10vh;
>>>>>>> olga
}
=======

@mixin banniere{
    background-image: url('./images/ban.jpeg');
    height: 10vh;
    width: 100%;
}

>>>>>>> 5e2b401e35d2032de5c2ee63a7f2badf11017f6c
